<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div id="sub_b1">
      <h2><%= yield(:title) %></h2>
      <p>
        ご意見・ご感想等がございましたら、
        <br>
        以下宛先までご連絡下さい。
        <br>
        <br>
        開発者:&nbsp;丹羽&nbsp;智之
        <br>
        Mail&nbsp;&nbsp;&nbsp;: tomoyuki.web.devあっとgmail.com
        <br>
        &nbsp;&nbsp;※「あっと」は「@」に変換して下さい。
      </p>
    </div>
  </body>
</html>
